---
on:
  workflow_call:
    inputs:
      enable_draft:
        required: false
        type: boolean
        default: false
      enable_latest:
        required: false
        type: boolean
        default: true
      enable_release_notes:
        required: false
        type: boolean
        default: true
      enable_updates:
        required: false
        type: boolean
        default: true
    outputs:
      next_version:
        value: ${{ jobs.release.outputs.next_version }}
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      next_version: ${{ steps.semver.outputs.next }}

    steps:
      - name: Checkout Code (Full History for PRs)
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Merge PR Branch
        if: github.event_name == 'pull_request'
        env:
          PR_HEAD_REF: ${{ github.event.pull_request.head.ref }}
        run: |
          git fetch origin "$PR_HEAD_REF"
          git merge --no-ff --no-commit "origin/$PR_HEAD_REF"

      - name: Checkout Code (Regular)
        if: github.event_name != 'pull_request'
        uses: actions/checkout@v4

      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref || github.ref_name }}
          noVersionBumpBehavior: "silent"
          skipInvalidTags: true

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: ${{ github.event.inputs.enable_updates }}
          commit: main
          draft: ${{ github.event.inputs.enable_draft }}
          makeLatest: ${{ github.event.inputs.enable_latest }}
          generateReleaseNotes: ${{ github.event.inputs.enable_release_notes }}
          name: ${{ steps.semver.outputs.next }}
          tag: ${{ steps.semver.outputs.next }}
          token: ${{ github.token }}

  # TODO: Renable this and figure out the weird nested permission issues
  # heimdallr:
  #   if: github.event_name != 'workflow_call' && github.event_name != 'pull_request' && github.repository == 'Mosher-Labs/.github'
  #   needs: release
  #   uses: ./.github/workflows/heimdallr.yml
  #   permissions: read-all
  #   secrets: inherit
  #   with:
  #     slack_message: "The project <https://github.com/${{ github.repository }}|${{ github.repository }}> just released version <https://github.com/${{ github.repository }}/releases/tag/${{ needs.release.outputs.next_version }}|${{ needs.release.outputs.next_version }}>."
